<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login User</title>
</head>
<body>

<h1>Login User</h1>

<form role="form" method="POST" th:action="@{/login}" th:object="${loginForm}">
    <label for="email">Email:
        <input type="text" id="email" name="email" required th:field="*{email}">
    </label>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <br>

    <label for="password">Password:
        <input type="text" id="password" name="password" required th:field="*{password}">
    </label>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

    <br>

    <button type="submit">Submit</button>

    <br>

    <span th:text="${loginError}"></span>

    <br>

    <a th:href="@{/register}">Don't have an account?</a>
</form>

</body>
</html>