<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>

<h1>Create User</h1>
<form role="form" method="POST" th:action="@{/web/register}" th:object="${userForm}">
    <label for="username">Username:
        <input type="text" id="username" name="username" required th:field="*{name}">
    </label>
    <p class="erro-msg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

    <br>

    <label for="email">Email:
        <input type="text" id="email" name="email" required th:field="*{email}">
    </label>
    <p class="erro-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <label for="password">Email:
        <input type="text" id="password" name="password" required th:field="*{email}">
    </label>
    <p class="erro-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <br>

    <button type="submit">Submit</button>
</form>

</body>
</html>